[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "duckdb-cpp-api"]
	path = duckdb-cpp-api
	url = git@github.com:duckdb/duckdb-cpp-api.git
